.brand-logo {
    margin-left: 20px;
}

#nav-mobile1 {
    margin-left: 150px;
}

header {
	height: 64px;
}

#register, #logIn{
    width: 40%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#cover_name i {
	height: 32px;
	line-height: 32px;
}
#nav_user {
	min-width: 100px;
	margin-right: 20px;
}

#nav_user a {
	display: inline-block;
	font-size: 18px;
    line-height: 32px;
}

#nav_user ul li a {
	font-size: 14px;
}
#nav_user i {
    margin-left: 0;
}

.forget_p {
	padding-left: 35px;
    display: inline-block;
    padding-top: 12px;
}

.show_detail {
	padding-top: 30px;
	height: 65vh;
}

.show_detail .card {
	height: 58vh;
}

.show_detail .card .card-content {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 62px;
}
.show_detail .card .card-action {
	position: absolute;
	bottom: 0;
	left: 0;
}