body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    header {
        height: 64px;

        nav .nav-wrapper {
            .brand-logo {
                margin-left: 20px;
            }

            #nav-mobile1 {
                margin-left: 150px;
            }

            #nav_user {
                min-width: 100px;
                margin-right: 20px;

                #cover_name i {
                    height: 32px;
                    line-height: 32px;
                }
                a {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 32px;
                }
                i {
                    margin-left: 0;
                }
                ul li a {
                    font-size: 14px;
                }
            }
        }

    }
    #register, #logIn{
        width: 40%;
    }
    #logIn .modal-footer .forget_p {
        padding-left: 35px;
        display: inline-block;
        padding-top: 12px;
    }
    .show_detail {
        padding-top: 30px;
        height: 65vh;

        .card {
            height: 58vh;

            .card-content {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 62px;
                width: 100%;

                .description {
                    padding-bottom: 10px;
                }
                .course_content{
                    padding-bottom: 10px;
                }
                .show_code {
                    width: inherit;
                    background-color: #f5f2f0;
                    max-height: 200px;
                    overflow: auto;
                }
            }

            .card-action {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }









}
