/* line 1, ../sass/home.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 6, ../sass/home.scss */
body header {
  height: 64px;
}
/* line 10, ../sass/home.scss */
body header nav .nav-wrapper .brand-logo {
  margin-left: 20px;
}
/* line 14, ../sass/home.scss */
body header nav .nav-wrapper #nav-mobile1 {
  margin-left: 150px;
}
/* line 18, ../sass/home.scss */
body header nav .nav-wrapper #nav_user {
  min-width: 100px;
  margin-right: 20px;
}
/* line 22, ../sass/home.scss */
body header nav .nav-wrapper #nav_user #cover_name i {
  height: 32px;
  line-height: 32px;
}
/* line 26, ../sass/home.scss */
body header nav .nav-wrapper #nav_user a {
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
}
/* line 31, ../sass/home.scss */
body header nav .nav-wrapper #nav_user i {
  margin-left: 0;
}
/* line 34, ../sass/home.scss */
body header nav .nav-wrapper #nav_user ul li a {
  font-size: 14px;
}
/* line 41, ../sass/home.scss */
body #register, body #logIn {
  width: 40%;
}
/* line 44, ../sass/home.scss */
body #logIn .modal-footer .forget_p {
  padding-left: 35px;
  display: inline-block;
  padding-top: 12px;
}
/* line 49, ../sass/home.scss */
body .show_detail {
  padding-top: 30px;
  height: 65vh;
}
/* line 53, ../sass/home.scss */
body .show_detail .card {
  height: 58vh;
}
/* line 56, ../sass/home.scss */
body .show_detail .card .card-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 62px;
  width: 100%;
}
/* line 63, ../sass/home.scss */
body .show_detail .card .card-content .description {
  padding-bottom: 10px;
}
/* line 66, ../sass/home.scss */
body .show_detail .card .card-content .course_content {
  padding-bottom: 10px;
}
/* line 69, ../sass/home.scss */
body .show_detail .card .card-content .show_code {
  width: inherit;
  background-color: #f5f2f0;
  max-height: 200px;
  overflow: auto;
}
/* line 77, ../sass/home.scss */
body .show_detail .card .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
}
